* {
    border: 0;
    padding: 0;
}

body {
    background: rgb(131,58,180);
    background: linear-gradient(15deg, rgba(131,58,180,1) 0%, rgba(253,102,29,1) 58%, rgba(252,176,69,1) 100%);
    color: white;
}

@font-face {
    font-family: seven-segment;
    src: url('seven_segment.ttf') format('truetype');
}

@keyframes blink {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 100%;
    }
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    /* max-width: 90%; */
}

.box {
    transform: translate(-50%, -50%);
}

.time {
    display: flex;
}

.date, .text {
    background-color: white;
    color: red;
    font-family: seven-segment;
    font-size: 1.5rem;
    padding: 0.5em;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.date {
    margin-bottom: 20px;
}

.clock {
    display: inline-block;
    font-family: seven-segment;
}

.number {
    background-color: white;
    font-size: 5rem;
    color: red;
    padding: 0.3em;
    border-radius: 20px;
    display: flex;
    width: 1em;
    justify-content: center;
    align-items: center;
}

.text {
    margin-top: 20px;
}

.colon {
    /* display: inline-block; */
    font-size: 5rem;
    margin: 0 0.3em;
    padding-top: 0.1em;
    /* position: relative; */
    /* top: -100px; */
    animation: blink 1s infinite;
}

@media (max-width: 550px) {
    .number, .colon {
        font-size: 3rem;
    }

    .date, .text {
        font-size: 1rem;
    }
}
